# ===== Gradle =====
.gradle/
build/
client/android/local.properties
server/deploy/.env
server/deploy/data/
client/android/.gradle/
client/android/build/
client/android/app/build/
client/android/app/release/
client/android/app/debug/
*.apk
*.aab

# ===== Android =====
*.apk
*.aab
*.ap_
*.dex
*.class
client/android/app/build/
client/android/app/release/

# ===== Go =====
go.sum

# ===== Native Libraries (compiled) =====
*.so
*.dll
*.dylib
jniLibs/
client/android/app/src/main/jniLibs/

# ===== Server binary =====
client/android/app/src/main/assets/server
# server

# ===== Keystore / Secrets =====
*.keystore
*.jks
*.key
*.pem

# ===== IDE =====
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# ===== OS =====
.DS_Store
Thumbs.db
Desktop.ini

# ===== Misc =====
*.log
*.tmp
*.bak
msg.txt
*.bat
